*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    
}



header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1rem;
    /* position: relative; */
    box-shadow: 2px 2px 25px #bdbaba;
    margin-bottom: 3rem;
    position: sticky;
    top:0;
    background-color: rgb(226, 195, 195);
    z-index: 999;
}

@media screen and (min-width:550px){
    header{
        justify-content: space-around;
    }
}

header img{
    width: 120px;
}

.modalCarrinho.escondido{
    display: none;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
}

.modalCarrinho{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0 0 0 / .5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
   
    
}

.modalCarrinho_content{
    width: 90%;
    padding: 1rem;
    background-color: #fff;
    position: relative;
    padding-top: 4rem;
    max-width: 600px;
    border-radius: 10px;
    font-size: 1.2rem;
    
}

.paginaCarrinho{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height:400px ;
}

.paginaCarrinho.escondido{
    display: none;
}



.paginaCarrinho_container{
    display: flex;
    gap: 1rem;
    border:1px solid gray;
    padding: .5rem;
    border-radius: 10px;
    
    
}

.paginaCarrinho_content{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    width: 60%;
    
}

.imgCarrinho_container{
    width:40%;
    
    
}

.imgCarrinho{
    display: block;
    max-height: 150px;
    width: 100%;
    object-fit:cover;
    object-position: center;
    border-radius: 10px;
}

.btnEditarExcluir{
    margin-top: auto;
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    width: 100%;
    
}

.btnEditarExcluir button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    
    
}

.fa-regular.fa-pen-to-square{
    cursor: pointer;
}

.fa-regular.fa-trash-can{
    cursor: pointer;
}

.btnEditar.escondido{
    display: none;
}

.containerEditar{
    width: 100%;
} 

.containerMaisMenos.escondido{
    display: none;
} 

.containerMaisMenos{
    border:1px solid gray;
    border-radius: 10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.btnMenosCarrinho{
    width: 2rem;
    font-size: 5rem;
    cursor: pointer;
}

.btnMenosCarrinho.disabled{
    color: gray;
}

.btnMaisCarrinho{
    width: 2rem;
    cursor: pointer;

}

.btnCarrinho_header{
    font-size: 1.8rem;
    border:none;
    background-color: transparent;
    border-radius: 50px;
    padding: 11px;
    color: brown;
    cursor: pointer;
    position: relative;
}

.btnCarrinho_header:hover{
    color: rgb(187, 103, 103);
}

.spanQtd_header{
    position: absolute;
    top:8px;
    right: 10px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 50%;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    
}

/* .maxWidth{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2rem ;
}
 */
main{
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 90%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

/* @media screen and (min-width:768px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
} */


.cardDoces{
    width: 100%;
    max-width: 350px;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 4px rgba(0 0 0 / .2);
    padding: 1rem;
}

.cardDoces:hover{
    opacity: .9;
}

.imgCard{
    width: 100%;
    margin: auto;
    
}

.imgCard img{
    max-height: 300px;
    width:100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.contentCard{
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
    text-align: left

}

.contentCard h2{
    font-size: 2rem;
}

.contentCard p{
    color: gray;
}

.precoCarrinho{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.precoCarrinho .preco{
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    font-size: 1.5rem
}




.btnCarrinho{
    font-size: 1.8rem;
    border:none;
    background-color: rgb(243, 194, 176);
    border-radius: 50px;
    padding: 11px;
    color: orangered;
    cursor: pointer;
}

.btnCarrinho:hover{
    color:rgb(243, 194, 176) ;
    background-color: orangered;
}

.btnCarrinho.escondido{
    display: none;
}

.btnAddRemover.escondido{
    display: none;
}

.btnAddRemover{
    font-size: 1.8rem;
    border:none;
    background-color: rgb(243, 194, 176);
    border-radius: 50px;
    padding:0 11px; 
    color: orangered;
    width: 50%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width:350px){
    .btnAddRemover{
        width: 60%;
    }
}

.btnAddRemover button {
    background: none;
    border: none;
    color: inherit; 
    cursor: pointer;
    font-family: inherit;
}

.btnAddRemover .remover{
    font-size: 3rem;
    padding: 0 10px;
}

.btnAddRemover .add{
    font-size: 2rem;
    padding: 0 10px;
}

.totalCarrinho.escondido{
    display: none;
}

.compraRealizada{
    display: none;
    color: green;
    font-size: 2rem;
}

.contentTotalCarrinho{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnComprar{
    background-color: rgb(50, 170, 50);
    padding: 1rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}